@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

body {
  font-family: 'oxanium', sans serif; 
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(images/clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  height: 50vh;
  width: 50wh;
  margin: 3%;
  margin-bottom: 5%;
}

.weer{
	text-align: center;
}
.content{
	text-align: center;
	padding: 3%;
}

.knop{
	width: 50px;
	height: 20px;
	background-color: #87ceeb;
	color: white;
	border-radius: 7px;
	padding: 2px 2px 2px 2px;
	margin-left: 2%;
	margin-top: 2px;
}
.inputTekst{
	border-radius: 7px;
	height: 20px;
}
.input{
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.container{
	background-color: rgba(255, 250, 250, 0.5);
	margin: 3%;
	padding: 3%;
}

.header{
	display: flex;
	justify-content: center;
	padding-bottom: 6%;
	padding-top: 3%;
}
.spacexlogo{
	width: 70%;
	margin-left:7%;
}

@media only screen and (min-width: 570px){
	body{
		font-size: 25px;
	}
}
@media only screen and (min-width: 900px){
	body{
		font-size: 30px;
	}
	.spacexlogo{
		width: 50%;
	}
	.knop{
		margin-top: 3px;
	}
}
@media only screen and (min-width: 1200px){
	body{
		font-size: 25px;
	}
	.knop{
		margin-top: 0;
		width: 70px;
		height: 25px;
		margin-bottom: 2px;
	}
	.content{
		width: 70%;
		margin-left: 12%;
	}
	.contentcontainer{
		display: flex;
		justify-content: center;
	}
	#map{
		width: 700px;
		height: 500px;
		margin-top: 0;
	}
	.container{
		margin: 0;
		margin-bottom: 3%;
	}
}
@media only screen and (min-width: 1600px){
	body{
		font-size: 30px;
	}
	.container{
		width: 450px;
		height: 500px;
		padding:0;
	}
	#map{
		width: 850px;
		height: 500px;
	}
	.content{
		padding-top:0
	}
	.spacexlogo{
		width: 30%;
	}
}